---
layout: "gallery.njk"
date: "2000-01-21"
title: "Trombinoscope"
description: "Et là nous pouvons nous contempler tels que nous sommes, avons été ou serons...
Tricher est impossible; les couleurs, les mouvements imprimés par l'artiste sont vifs"
cover : ""
background_color: "rgba(40, 43, 47, 0.5)"
image_scaling: "250" #en pixel, la taille verticale minimum des images presentes dans la gallery
images_collection:
#   les images produits son dans le dossier "products" 
#   - image: nom_de_l_image.jpg
#     link: https://www.pcagallery.com/example KEEP THE https://
#     description: " Use \ for newline "
  - image: 10.jpg
    link: 
    title: "9 portraits"
    description: "Sur papier\n150 x 110 cm"
  - image: 11.jpg
    link:
    title: "Portrait de Famille"
    description: "Sur chassis\n100 x 150 cm"
  - image: 12.jpg
    link: 
    title: "9 portraits"
    description: "Sur papier\n200 x 152.5 cm"
  - image: 13.jpg
    link:
    title: "5 Venceslas"
    description: ""
portraits_collection:
#   les images produits son dans le dossier "products" 
#   - image: nom_de_l_image.jpg
#     link: https://www.pcagallery.com/example KEEP THE https://
#     description: " Use \ for newline " 
  - image: p1.jpg
    link:
    title: "Portrait - Muriel"
    description: "Sur papier\n150 x 130 cm"
  - image: p2.jpg
    link:
    title: "Portrait - Guy"
    description: "Sur papier\n150 x 130 cm"
  - image: p3.jpg
    link:
    title: "Portrait - Christiane"
    description: "Sur papier\n150 x 130 cm"
  - image: p4.jpg
    link:
    title: "Portrait - Karine"
    description: "Sur papier\n150 x 130 cm"
  - image: p5.jpg
    link:
    title: "Portrait - Sans nom"
    description: "Sur papier\n150 x 130 cm"
---

<p><b># TROMBINOSCOPE </b><br>
<br>
Et là nous pouvons nous contempler tels que nous sommes, avons été ou serons...<br>
<br>
Tricher est impossible; les couleurs, les mouvements imprimés par l'artiste sont vifs, amples et décisifs.<br>
Il devient important d'annexer le temps et de regarder ces œuvres avec enthousiasme et plaisir...</p>


<p><b># TROMBINOSCOPE</b><br>
<br>
And there we can contemplate ourselves just as we are, have been or will be...<br>
<br>
Cheating is impossible; the colours, the movements imprinted by the artist are vivid, ample and decisive.<br>
It becomes important to annex time and to look at these works with enthusiasm and pleasure...</p>


<p><b># TROMBINOSCOPE</b><br>
<br>
Y allí podemos contemplarnos como estamos, estuvimos o estaremos...<br>
<br>
Las trampas son imposible; los colores, los movimientos imprimidos por el artista son potentes, amplios y decisivos.<br>
Se hace importante anexar el tiempo y mirar estas obras con entusiasmo y placer...</p>

</div>

<div class="separator"></div>

<div class="portrait_gallery_border" style="background-color:{{ background_color }};">
<div id="portraits" class="portrait_gallery" data-number-of-images ="{{ portraits_collection | length }}" data-scaling-ratio="{{image_scaling}}" data-buy-text="" data-request-text="">
			{%- for object in portraits_collection %}
				<img class ="portrait_preview" src="{{website.url}}/gallery/{{page.fileSlug}}/thumbnails/{{object.image}}" 
				id="portraits{{loop.index}}" 
				onclick="openModalGallery( {{loop.index}} , 'portraits')" 
				data-pagination="{{loop.index}}/{{totalNumberOfImages}}" 
				data-external-link="{{object.link}}"
				data-title="{{object.title | replace('\n', '<br>') }}"
				data-description="{{object.description | replace('\n', '<br>') }}" >
			{%- endfor %}
</div>
