	/*whole website */
	
body{
  margin: 0;
  padding: 0;
  background-color: #393b46;
  display: flex; flex-wrap: nowrap; flex-direction: column; justify-content: center; align-items: center;
}

html {
  box-sizing: border-box;
  
  font-size: 12px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*text formatting*/

/* <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet"> */
/* font-family: 'Montserrat', sans-serif; */

hr{
	width: 60px;
	margin: 0 auto 1.25rem auto;
}
p,b,small,big,h1,strong,span {
	font-family: 'Montserrat', sans-serif;
	white-space:normal;
	text-indent: 0;
	margin: 0;
	padding: 0;
}
a { 
	text-decoration: none; 
	font: 300 1rem/1.5 'Montserrat', sans-serif;
	color: #7073ff;
}
h1 {/* just for modal titles*/
	font: 400 1.5rem/1.25 'Montserrat', sans-serif;
	color: #ffffff;
	padding-bottom: 0rem;
}
p{
	font: 300 1rem/1.5 'Montserrat', sans-serif;
	color: #eeeeee;
}
span{
	font: 300 1rem/1.5 'Montserrat', sans-serif;
	color: #eeeeee;
}
strong , b{
	font: 500 1rem/1.5 'Montserrat', sans-serif;
	color: #eeeeee;
}
small{
	font: 300 0.75rem/01.5 'Montserrat', sans-serif;
	color: #bbbbbb;
}
blockquote{
	margin: 10px;
	border-left: 3px solid rgba(255,255,255,0.1);
	padding-left: 10px;
}
body{
	min-height: 100vh;
}
.background{
	z-index: -1;
	position: fixed;
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
	object-position: center 25%;
	filter: blur(5px) contrast(75%);
	object-fit: cover;
	background-color: rgba(0,0,0,0);
}
@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1.0;}
}
@keyframes fadeout {
	0% {opacity: 1.0;}
	100% {opacity: 0;}
}

/*----------------------components----------------------*/
/*----------------------header----------------------*/
.header{
	width: 100%;
	min-height: 50px;
	padding: 15px 20px 0 20px;
	margin: 0 auto 0 auto;
	background-color:#26262d;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	height: auto;
}
.header_inner{
	width: 100%;
	max-width: 1050px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	z-index: 2;
}
.header_sub_bar {
	padding: 0;
	margin: 0;
	/* height: 0; */
	width: 100%;
	border-top: 1px solid #666666;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0 20px 0 20px ;
}
.header_sub_bar p{
	width: 100%;
	text-align: right;
	max-width: 1000px;
}

.logo{
	font: 300 1.25rem/1.25 'Montserrat', sans-serif;
	color: #666666;

	padding: 0 2px 0 2px;
	border-bottom: 1px solid rgba(255,255,255,0);

	transition: all 0.2s ease-in-out;
}
.logo:hover{
	border-bottom: 1px solid #ffffff;
	color: #ffffff;

	transition: all 0.5s ease-in-out;
}
.social_icon{
	height: 1.5rem;

	margin-left: 5px;
}
.social_icon img{
	height: 1.5rem;

	transition: all 0.5s ease-in-out;
}
.social_icon:hover img{
	filter: brightness(3);

	transition: all 0.5s ease-in-out;
}
.nav_bar{
	margin-left: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
}
.nav_bar a:nth-child(1) span {
	margin-left: 0.25rem;
}
.nav_item{
	font: 300 1.25rem/1.25 'Montserrat', sans-serif;
	color: #666666;

	padding: 0 2px 0 2px;
	margin-left: 10px;

	border-bottom: 1px solid  rgba(255,255,255,0);

	transition: all 0.2s ease-in-out;
}
.nav_item:hover{
	color: #ffffff;

	border-bottom: 1px solid #ffffff;

	transition: all 0.5s ease-in-out;
}
.highlight{
	font: 300 1.25rem/1.25 'Montserrat', sans-serif;
	color: #ffffff;

	padding-bottom: 0;
	border-bottom: 1px solid #ffffff;

	transition: all 0.5s ease-in-out;
}
/*----------------------footer----------------------*/
.footer{
	width: 100%;
	height: 50px;
	padding: 0 2rem 0 2rem;
	margin: auto auto 0 auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	border-top: 1px solid #666666;
	background-color: #26262d;
}
.footer p{
	font: 300 1.25rem/1.25 'Montserrat', sans-serif;
	color: #eeeeee;
}
.footer p a{
	font: 300 1rem/1.25 'Montserrat', sans-serif;
	color: #eeeeee;
}
.footer p a:hover{
	text-decoration: underline;
}
.footer p:nth-child(1){
	margin-right: auto;
}
.footer p:nth-child(2){
	margin-left: auto;
}

/*----------------------back to top button----------------------*/
.back_to_top{
	cursor: pointer;

	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 45px;
	width: 45px;

	display: flex;
	align-content: center;
	justify-content: center;

	background-color: rgba(255, 255, 255, 0.5);
}
.back_to_top span{
	display: block;
	height: 25px;
	width: 25px;

	transform: translateY(50%) rotate(225deg);

	border-bottom: 5px solid #333333 ;
	border-right: 5px solid #333333 ;
}
.back_to_top:hover span{
	border-bottom: 5px solid #eeeeee ;
	border-right: 5px solid #eeeeee ;

	transition: all ease-in-out 0.3s;
}

/*----------------------modal page----------------------*/
.modal_window{
	position: fixed;
	top: 0;
	left: 0;

	display: grid;
	display: none;
	grid-template-columns: auto 300px;
	grid-template-rows: 100%;

	z-index: 10;
	width: 100%;
	height: 100%;
	max-height: 100vh;
	/* padding: 20px 20px 20px 20px; doesn't work on google chrome*/
	background-color: rgba(0,0,0,0.75);
}
.modal_main_box{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;

	height: 100%;
}
.button{
	width: 50px;
	height: 100%;

	transition: ease-in-out 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.button:hover{
	background-color: rgba(255,255,255,0.2);
	transition: ease-in-out 0.5s;
}
.button img{
	font: 300 40px/1 'Montserrat', sans-serif;
	color: #ffffff;

	height: 50px;
	width: auto;

	margin: 5px;
}
.modal_image_container{/* FUCK YOU GOOGLE CHROME */
	flex: auto;

	height: 80%;

	max-height: 100%;
	min-height: 0;
	max-width: 100%;
	min-width: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}
.modal_image{
	flex: 1 1 auto;

	margin: auto;
	object-fit: contain; /* because of the old  */

	width: 80%;
	height: 100%;

	max-width: 100vw;
	max-height: 100vh;

	min-width: 0;
	min-height: 0;

	cursor: zoom-out;
}
.modal_side_box{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;

	padding: 10px;

	display: flex;
	flex-direction: column;

	position: relative;

	background-color: rgba(0,0,0,0.7);
}
#title{
	margin-top: auto;
	padding-bottom: 1rem;
}
#description{
	margin-bottom: auto;
}
#purchase_link{
	margin-left: auto;
	width: 100%;
	padding: 5px;

	display: none; /*flex;*/
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
}
#purchase_link:hover{
	background-color: rgba(255,255,255,0.2);
	transition: ease-in-out 0.5s;
}
#purchase_link img{
	height: 20px;
	padding-left: 1rem;
}
#purchase_link p{
	margin-left: auto;
	
	font: 400 1rem/1 'Montserrat', sans-serif;
	color: #eeeeee;
}
#purchase_link:hover p{
	font: 400 1rem/1 'Montserrat', sans-serif;
	text-decoration: underline;
	color: #eeeeee;
}
#pagination{
	display: none;
}
#close{
	/* align-self: flex-end; */
	position: fixed;
	top: 10px;
	right: 10px;

	height: 50px;
	margin: 10px;
}
#close img{
	height: 35px;
}
.spinner{
	z-index: 11;

	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;

	object-fit: scale-down;
	transform-origin: center;
	/* transform: translateX(-50%) translateY(-50%); */
}
.spinning{
	animation: 0.6s linear infinite spin; 
}
.fade{
	animation: 0.5s linear 1 fade;;
}
@keyframes spin {
	0% {transform:rotate(360deg);}
	25% {transform:rotate(270deg);}
	50% {transform:rotate(180deg);}
	75% {transform:rotate(90deg);}
	100% {transform:rotate(0deg);}
}
@keyframes fade {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@media screen and (orientation: portrait) {
	#close{
		top: 0px;
		right: 0px;
		margin: 0;
	}
	.modal_window{
		grid-template-columns: 100%;
		grid-template-rows: 20vh 80vh;
	}
	.modal_image_container{

		height: 90%;

		max-height: 100%;
		min-height: 0;
		max-width: 100%;
		min-width: 0;
	}
	.modal_main_box{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;

		height: auto;
	}
	.modal_side_box{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
		overflow: auto;
	}
}
/*menu thingy*/
#contextual_menu{
	z-index: 13;
	position: fixed;
	top: 100%;
	left: 100%;
	display: none;
	background-color: #333333;
	flex-direction: column;
	flex-wrap: nowrap;
}
#contextual_menu span{
	padding: 2px 10px 2px 10px;

	cursor: pointer;

	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
#contextual_menu span:hover{
	color: #000000;
	background-color: #eeeeee;
}


/*----------------------landing page----------------------*/
.landing_page{
	width: 100%;
	/* min-height: 100vh; */

	display: flex;
	align-items: center;
	justify-content: center;
}
.landing_title{
	font: 300 4rem/1.25 'Montserrat', sans-serif;
	text-align: center;
	color: #eeeeee;

	padding-bottom: 0;
	border-bottom: 3px solid rgba(255, 255, 255, 0);

	transition: all 0.2s ease-in-out;
	animation: 0.7s ease-in-out 0s 1 normal forwards running landing_animation ;
}
.landing_sub_title{
	font: 300 2rem/1.25 'Montserrat', sans-serif;
	text-align: center;
	color: #eeeeee;

	padding-bottom: 0;
	border-bottom: 3px solid rgba(255, 255, 255, 0);

	transition: all 0.2s ease-in-out;
	animation: 0.9s ease-in-out 0s 1 normal forwards running landing_animation ;
}

@keyframes landing_animation {
	0% {
		filter: blur(20px) opacity(0.0);
	}
	100% {
		filter: blur(0) opacity(1.0);
	}
}
.landing_box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.landing_box:hover .landing_title , .landing_box:hover .landing_sub_title{
	color: #ffffff;
	border-bottom: 3px solid #ffffff;

	transition: all 1s ease-in-out;
}


/*----------------------series page----------------------*/
.home_page{
	width: 100%;
	/* min-height: 100vh; */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
.chapter_box {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;

	padding: 60px 0 60px 0;
	margin: auto;
}
.chapter {
	font: 300 1.5rem/1.25 'Montserrat', sans-serif;
	text-align: center;
	color: #eeeeee;

	margin-top: 10px;

	border-bottom: 1px solid rgba(255,255,255,0);

	transition: all 0.2s ease-in-out;
	animation: 0.5s ease-in-out 0s 1 normal forwards running landing_animation;
}
.chapter:hover {
	color: #ffffff;
	border-bottom: 1px solid #ffffff;

	transition: all 0.5s ease-in-out;
}


/*----------------------gallery page----------------------*/
.gallery_page{
	width: 100%;
}
.gallery_border{
	width: 100%;
	padding: 00px 30px 00px 30px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.return_button_bar{
	width: 100%;
	max-width: 1050px;
	min-width: 370px; /*300(min width ->text + text margin + intro_box padding)*/
	padding: 0px 0px 5px 0px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.return_button{
	padding: 0px 5px 1px 5px;

	background-color: rgba(0,0,0,0.50);
}
.return{
	border-bottom: 1px solid rgba(255, 255, 255, 0);

	transition: all 0.5s ease-in-out;
}
.return:hover{
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);

	transition: all 0.5s ease-in-out;
}
.intro_box{
	max-width: 1050px;
	padding: 30px 30px 30px 30px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	background-color: rgba(0,0,0,0.50);
}
.intro_box p:nth-child(n){
	margin: 5px 5px 0 5px;
	min-width: 200px;

	text-align: left;

	flex: 1;
}
.separator{
	height: 60px;
}
.gallery{
	width: 100%;
	max-width: 1050px;
	margin: 0;
	padding: 30px 5px 30px 5px;
	min-width: 370px; /*300(min width ->text + text margin + intro_box padding)*/

	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	background-color: rgba(0,0,0,0.50);
}
.preview{
	flex: 1 1 auto;

	/* height: auto; */
	margin: 07px;

	cursor: zoom-in;

	outline: 0 solid rgba(255, 255, 255, 0.5);

	transition: 0s;

	object-fit: contain; /*used to be cover*/
}
.special_preview{
	flex: 1 1 0px;
	width: 0px;

	/* height: auto; */
	margin: 07px;

	cursor: zoom-in;

	outline: 0 solid rgba(255, 255, 255, 0.5);

	transition: 0s;

	object-fit: contain;  /*used to be cover*/
}
.preview:hover, .special_preview:hover{
	outline: 10px solid rgba(0,0,0,0.0);

	transition: ease-out 0.5s;
}
.zoom{
	animation: zoom 0.3s;
}
@keyframes zoom {
	0% {scale: 1.0;}
	50% {scale: 0.9;}
	100% {scale: 1.0;}
}
@media screen and (max-width: 900px) {
	.intro_box{
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.intro_box p:nth-child(n){
		margin-bottom: 2rem;
	
		/* flex: 1 1 40%; */
		flex: 1 1 100%;
	}
}
@media screen and (max-width: 370px) {
	.gallery_border{
		padding: 00px 00px 00px 00px;
	}
	.return_button_bar{
		min-width: 0; 
	}
	.intro_box{
		padding: 30px 10px 30px 10px;
	}
	.intro_box p:nth-child(n){
		min-width: 0;
	}
	.gallery{
		min-width: 00px;
	}
}
/*----------------------galleryline for portraits----------------------*/
.portrait_gallery_border{
	overflow-x: auto;
	max-width: 1050px;
	width: 100%;

	padding: 0;
	margin: 0;
	
	scrollbar-color: #333333 #777777;
	scrollbar-width: thin;
}
.portrait_gallery_border::-webkit-scrollbar {
	height: 10px;
}
.portrait_gallery_border::-webkit-scrollbar-track {
	background: #777777;
}
.portrait_gallery_border::-webkit-scrollbar-thumb {
	background-color: #333333 ;
	border-radius: 5px;
}
.portrait_gallery{
	max-width: 1050px;
	width: 100%;
	margin: 0;
	padding: 5px 5px 5px 5px;
	padding: 30px 5px 30px 5px;
	min-width: 370px; /*300(min width ->text + text margin + intro_box padding)*/

	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
}
.portrait_preview{
	flex: 1 1 100px;
	width: 100px;

	/* height: auto; */
	margin: 07px;

	cursor: zoom-in;

	outline: 0 solid rgba(255, 255, 255, 0.5);

	transition: 0s;

	/* object-fit: cover;  */
}
.portrait_preview:hover{
	outline: 10px solid rgba(0,0,0,0.0);

	transition: ease-out 0.5s;
}
@media screen and (max-width: 475px) {
	.portrait_gallery_border{}
	.portrait_gallery{flex-wrap: wrap;height: auto;min-width:0;justify-content: center;align-content: center;}
	.portrait_preview{flex: 0 1 100px;}
}

/*----------------------page with text----------------------*/
.text_box{
	margin: 60px 30px 60px 30px;
	padding: 30px;
	width: 90%;
	max-width: 1100px;

	display: flex;
	justify-content: flex-start;
	flex-direction: column;

	background-color: rgba(0,0,0,0.50);
}
.text_box p{
	margin-bottom: 1rem;
}
/*----------------------bio----------------------*/
.bio_border{
	width: 100%;

	display: grid;
	grid-template-columns: 20px 1fr 20px 2fr 20px;
	grid-template-rows: 60px auto 0 0 60px;
}
.bio_illustration{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.bio_illustration img{
	width: 100%;
}
.bio_content{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;

	padding: 20px 30px 30px 30px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	background-color: rgba(0,0,0,0.50);
}
.lang_menu{
	padding-bottom: 1.5rem;
}
.lang_menu span{
	font: 400 1.5rem/1.25 'Montserrat', sans-serif;

	margin-bottom: 15px;
	margin-right: 1rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0);

	cursor: pointer;
	
	transition: all 0.2s ease-in-out;
}
.lang_menu .highlight{
	border-bottom: 1px solid rgba(255,255,255,1);
}
.lang_menu span:hover{
	border-bottom: 1px solid rgba(255,255,255,1);
	transition: all 0.2s ease-in-out;
}
.bio_texts{
	position: relative;
}
.bio_content p {
	padding-bottom: 1.5rem;

	transition: all 0.2s ease-in-out;
}
/* for the bio text*/
@keyframes fade {
	0% {
		filter: blur(1px) opacity(0.0);
	}
	100% {
		filter: blur(0) opacity(1.0);
	}
}
.fade_in{
	animation: 0.3s ease-in-out 0s 1 normal forwards running fade ;
}

@media screen and (max-width: 710px) {
	.bio_border{
		grid-template-columns: 20px 1fr 0 0 20px;
		grid-template-rows: 60px auto 20px auto 60px;
	}
	.bio_illustration{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	.bio_illustration img{
		width: 40vw;
	}
	.bio_content{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 4;
		grid-row-end: 5;
	
		padding: 20px 30px 30px 30px;
	
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	
		background-color: rgba(0,0,0,0.50);
	}
}
