<header id="header" class="header">
	<div class="header_inner">
	<a class="logo" href="{{website.url}}/">ANNICK&nbsp;BERGEON</a>

	{# <a href="" class="social_icon"><img src="{{website.url}}/includes/assets/images/email.png"></a> #}
	{# <a href="https://instagram.com" target="_blank" class="social_icon"><img src="{{website.url}}/includes/assets/images/facebook.png"></a> #}
	<a href="https://www.instagram.com/bergeon9/" target="_blank" class="social_icon"><img src="{{website.url}}/includes/assets/images/instagram.png"></a>

	<nav class="nav_bar">
		{%- if page.fileSlug == "bio" %}
		<a href="{{website.url}}/bio"><span class="nav_item highlight">Artiste&nbsp;Peintre</span></a>
		{%- else %}
		<a href="{{website.url}}/bio"><span class="nav_item">Artiste&nbsp;Peintre</span></a>
		{%- endif %}
		{%- if page.fileSlug == "gallery" %}
		<a href="{{website.url}}/gallery"><span class="nav_item highlight">Collections</span></a>
		{%- else %}
		<a href="{{website.url}}/gallery"><span class="nav_item">Collections</span></a>
		{%- endif %}
	</nav>
	</div>
</header>
<div class="header_sub_bar">
	<!-- href="https://www.pcagalleryart.com/"
	<p>Tirage d'Art / <a style="color:#eeeeee">pcagalleryart.com</a></p> -->
</div>