<div id="modal_window" class="modal_window">
	<img src="{{website.url}}/includes/assets/images/load.png" id="spinner" class="spinner spinning">

	<div class="modal_main_box">

		<div id="previous" class="previous button "><img alt="&#171;" src="{{website.url}}/includes/assets/images/previous.png"></div>

		<div class="modal_image_container" id="modal_image_container">
			<img id="modal_image" class="modal_image" src="">
		</div>

		<div id="next" class="next button "><img alt="&#187;" src="{{website.url}}/includes/assets/images/next.png"></div>

	</div>

	<div class="modal_side_box">

		<div id="close" class="close button "><img alt="X" src="{{website.url}}/includes/assets/images/close.png"></div>

		<span id="pagination" class="pagination"> 44/11 </span>

		<h1 id="title">t esthsth ersethteh</h1>

		<p id="description">...</p>

		<a target="_blank" rel="noopener noreferrer" href="" id="purchase_link">
			<p id="buy_link_text">...</p>
			<img src="{{website.url}}/includes/assets/images/external_link.png">
		</a>
	</div>

	<div id="contextual_menu">
		<span id="menu_previous" >Previous</span>
		<span id="menu_next" >Next</span>
		<span id="menu_close" >Close</span>
	</div>
</div>
